.slider-track {
  width: 100%;
  min-width: 200px;
  height: 8px;
  border-radius: 40px;
  background: #f2f3f5;

  position: relative;
}

.slider-track .slider-thumb {
  position: absolute;
  left: -12px;
  top: -8px;
}

.slider-track .slider-thumb.large {
  left: -16px;
  top: -12px;
}

.slider-highlight {
  position: absolute;
  height: 100%;
  max-width: 100%;
  background: #47b647;
  /* var(--primary-color); */
  border-radius: 40px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
