:root {
  --body-background-color: #242424;
  --primary-color: #47B647;
  --thumb-size: 24px;
  --track-height: 8px;
}



*{
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
}
